@charset 'utf-8';

@import 'bourbon';
// @import 'base/grid-settings';
@import 'neat';
// @import 'base/base';


* {
	margin: 0;
	padding: 0;
	font-family: Helvetica Neue, Helvetica;
}

body {
	background-color: #e1dcd3;
}
header {
	height: 72px;
	background-color: #ffe1a0;
	background: rgb(255,225,160); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,225,160,1) 0%, rgba(235,185,101,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,225,160,1)), color-stop(100%,rgba(235,185,101,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,225,160,1) 0%,rgba(235,185,101,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,225,160,1) 0%,rgba(235,185,101,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,225,160,1) 0%,rgba(235,185,101,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,225,160,1) 0%,rgba(235,185,101,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe1a0', endColorstr='#ebb965',GradientType=0 ); /* IE6-9 */
	-moz-box-shadow:    0px 1px 2px 0px #8D8676;
	box-shadow:         0px 1px 2px 0px #8D8676;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-image: image-url("header.png");
	background-image: -webkit-image-set(image-url("header.png") 1x,
    image-url("header@2x.png") 2x);
	.logo {
		width: 171px;
		height: 62px;
		display: block;
		margin: 5px auto;
		background-image: image-url("logo@2x.png");
		background-size: 171px 62px;
		position: absolute;
		left: 50%;
		margin-left: -85px;
	}
}

h {
	font-size: 20px;
	color: #746F65;
	line-height: 24px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.69);
	margin: 40px auto;
	display: block;
	text-align: center;
	margin-top: 140px;
}
p {
	font-size: 14px;
	color: #746F65;
	line-height: 17px;
	text-shadow: 0px 1px 0px #FFFFFF;
	margin: 30px;
	text-align: center;
	&.address {
		font-size: 16px;
		color: #FFFFFF;
		line-height: 19px;
		text-shadow: 0px 1px 1px rgba(0,0,0,0.36);
		display: block;
		text-align: center;
		margin-bottom: 20px;
		word-break: break-all;
	}
}

.qrs {
	img {
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.26);
		display: block;
		margin: 30px auto;
	}
}



form#new_bet {
	width: 300px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;

	textarea, input {
		border: 1px solid rgba(0, 0, 0, 0.3);
		padding: 10px;
		font-size: 15px;
		border-radius: 3px;
		box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.51);
		color: rgb(82, 82, 82);
	}
	textarea {
		height: 100px;
		resize: vertical;
		&#post_body {
			margin: 0px;
			width: 189px;
			height: 103px;
			margin-left: -39px;
		}
	}
	input[name=commit] { /* Button */
		border-radius: 8px;
		background-image: image-url("button-bg@2x.png");
		border: 1px solid #DCA553;
		-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.09), inset 0px 1px 3px 0px rgba(255,255,255,0.50);
		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.09), inset 0px 1px 3px 0px rgba(255,255,255,0.50);
		padding: 16px 74px;
		font-family: Helvetica-Bold;
		font-size: 20px;
		color: #AF7C44;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.50);
		margin-left: -6px;
	}
	p {
		&.desc {
			display: inline-block;
			float: left;
			margin: 0;
			margin-left: 45px;
			line-height: 102px;
		}
		label {
			display: inline-block;
			width: 30px;
			text-indent: -60px;
		}
	}
}
